.wrap-page {
    min-height: 100vh;
}

i.fa-globe-americas {
    font-size: 25px;
}

form {
    position: relative;
}

button.btn.btn-primary {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
